<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/arepa_style.css" type="text/css">
	<title>Arepa Logger...!</title>
</head>
<body>
	<div id="container">
		<div id="header">
			<img id="mainImage" src="http://quieroarepas.com/wp-content/uploads/2014/04/Arepas.jpg">
			<h1>EAT AN AREPA...!!!!</h1>
			<p id="description">The word AREPA comes from the indigenous word EREPA, which refers to the corn flour bread that was commonly made and eaten among indigenous tribes across Venezuela centuries ago. In its simplest form the AREPA is a corn bread, made most often with white corn (Cariaco) and water. To this day, Venezuelans consider this simple but succulent corn bread a daily bread.  It is eaten in households and AREPERAS ( joints selling AREPAS) for breakfast, lunch and dinner.  Nowadays it is generally made with a pre-cooked corn flour (Harina P.A.N), water and salt.</p>
		</div>

		<div id="content">
			{{{ body }}}

		</div>		
	</div>



</body>
</html>